.featured-products
    .featured-products__title.title Featured products
    .featured-products__category
        include ../category/category
    .featured-products__slider
        .product-slider
            .product-slider__block

                .product-slider__item
                    img(src="img/product-slider/1.png", alt="polo").product-slider__image
                    span.product-slider__title Ted Baker Womens Light
                    span.product-slider__brand Gucci
                    .product-slider__price
                        span.product-slider__price--old.mr-r-10 $70 
                        span.product-slider__price--new $120

                .product-slider__item
                    img(src="img/product-slider/2.png", alt="polo").product-slider__image
                    span.product-slider__title Ted Baker Womens Light
                    span.product-slider__brand Gucci
                    .product-slider__price
                        span.product-slider__price--old.mr-r-10 $70 
                        span.product-slider__price--new $120

                .product-slider__item
                    img(src="img/product-slider/3.png", alt="polo").product-slider__image
                    span.product-slider__title Ted Baker Womens Light
                    span.product-slider__brand Gucci
                    .product-slider__price
                        span.product-slider__price--old.mr-r-10 $70 
                        span.product-slider__price--new $120

                .product-slider__item
                    img(src="img/product-slider/4.png", alt="polo").product-slider__image
                    span.product-slider__title Ted Baker Womens Light
                    span.product-slider__brand Gucci
                    .product-slider__price
                        span.product-slider__price--old.mr-r-10 $70 
                        span.product-slider__price--new $120
               
                        
            .product-slider__button-left.button-left
                .fas.fa-caret-left
            .product-slider__button-right.button-right
                .fas.fa-caret-right

        a(href="").product-slider__button.button.button--product-slider Show more