header.header
    .header__wrapper
        .header__logo
            include ../logo/logo
        .header__navigation
            include ../navigation/navigation
        .header__functional
            include functional/functional