.cart
    ul.cart__list
        li.cart__item
            .product-cart__img-wrapper
                img(src='img/cart-items/cart-jacket.png').product-cart__img
            .product-cart__info
                h6.product-cart__title
                    a(href="#").product-cart__title__link New Balance Men's Street Jacket
                span.product-cart__price $486
                .product-cart__details
                    span.product-cart__size S • 
                    span.product-cart__color Grey • 
                    span.product-cart__Availability 1 pos
            .cart__item__delete
                a(href="#").product-cart__remove
                    span.icon-cart-remove-icon
        li.cart__item
            .product-cart__img-wrapper
                img(src='img/cart-items/cart-boots.png').product-cart__img
            .product-cart__info
                h6.product-cart__title
                    a(href="#").product-cart__title__link Lyle & Scott Men's Boots Sleeve Camo Pocket
                span.product-cart__price $85
                .product-cart__details
                    span.product-cart__size XXL • 
                    span.product-cart__color Brown • 
                    span.product-cart__Availability 3 pos
            .cart__item__delete
                a(href="#").product-cart__remove
                    span.icon-cart-remove-icon
        li.cart__item
            .product-cart__img-wrapper
                img(src='img/cart-items/cart-windbreaker.png').product-cart__img
            .product-cart__info
                h6.product-cart__title
                    a(href="#").product-cart__title__link New Balance Men's Windbreaker
                span.product-cart__price $128
                .product-cart__details
                    span.product-cart__size M • 
                    span.product-cart__color Blue • 
                    span.product-cart__Availability 12 pos
            .cart__item__delete
                a(href="#").product-cart__remove
                    span.icon-cart-remove-icon
        li.cart__item
            .check-out
                span.check-out__total Total
                span.check-out__total-price $935
                a(href="#").button Check Out