@font-face {
  font-family: "opensans";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/OpenSansRegular/OpenSans-Regular.eot");
  src: url("../../fonts/OpenSansRegular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSansRegular/OpenSans-Regular.woff") format("woff"), url("../../fonts/OpenSansRegular/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "pacifico";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/PacificoRegular/Pacifico-Regular.eot");
  src: url("../../fonts/PacificoRegular/Pacifico-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/PacificoRegular/Pacifico-Regular.woff") format("woff"), url("../../fonts/PacificoRegular/Pacifico-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/RalewaySemiBold/Raleway-SemiBold.eot");
  src: url("../../fonts/RalewaySemiBold/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/RalewaySemiBold/Raleway-SemiBold.woff") format("woff"), url("../../fonts/RalewaySemiBold/Raleway-SemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "raleway";
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/RalewayBold/Raleway-Bold.eot");
  src: url("../../fonts/RalewayBold/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/RalewayBold/Raleway-Bold.woff") format("woff"), url("../../fonts/RalewayBold/Raleway-Bold.ttf") format("truetype"); }

.header {
  width: 100%;
  height: 600px;
  background-image: url("../../img/header/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 10px solid #2ecc71; }

.header_block {
  color: #fff;
  padding-top: 9%;
  padding-left: 20.2%; }

.header_block_logo {
  font-family: pacifico;
  font-size: 60px; }
  .header_block_logo span {
    color: #2ecc71; }

.header_block_description {
  font-size: 24px;
  margin-top: 2%;
  margin-bottom: 1.8%; }

.header_block_OS {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.OS {
  width: 53px;
  height: 53px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 1%;
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .OS:last-child {
    margin-right: 0; }
  .OS:hover {
    background-color: #2ecc71; }
  .OS .fa {
    font-size: 24px;
    margin-top: 12px; }
  .OS a {
    color: #fff; }

.features {
  width: 100%;
  height: 335px;
  background: #fff; }

.features_blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }

.icon_container {
  display: inline-block;
  width: 98px;
  height: 98px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #2ecc71;
  text-align: center; }
  .icon_container .gear {
    display: inline-block;
    margin: 28px; }
  .icon_container .star {
    display: inline-block;
    margin: 25px; }
  .icon_container .earth {
    display: inline-block;
    margin: 26px; }

.icon_title {
  font-family: raleway;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 25px; }

.icon_description {
  font-size: 16px;
  color: #848484;
  line-height: 1.7; }

.notified {
  height: 427px;
  background-color: #e3e3e3; }

.notified_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.notified_text-block {
  padding-top: 60px; }

.notified_text-block_title {
  font-family: raleway;
  font-size: 22px;
  margin-bottom: 25px; }

.notified_text-block_description {
  font-size: 16px;
  color: #848484;
  line-height: 1.7;
  margin-bottom: 30px; }

form {
  position: relative;
  white-space: nowrap; }

input {
  width: 304px;
  height: 54px;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 15px 0 0 15px;
          border-radius: 15px 0 0 15px;
  outline: none;
  font-size: 18px;
  padding-left: 25px;
  color: #a5a5a5; }

.button {
  position: absolute;
  font-size: 22px;
  font-family: raleway;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
  background-color: #2ecc71;
  border: none;
  -webkit-border-radius: 0 15px 15px 0;
          border-radius: 0 15px 15px 0;
  padding: 16px 40px 16px 40px;
  outline: none;
  cursor: pointer; }

.notified_video-block {
  padding-top: 60px;
  margin-left: 145px; }

.slider {
  height: 420px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center; }

.bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin: 0; }

.bxslider {
  text-align: center;
  height: 90px; }
  .bxslider li {
    color: #848484; }
    .bxslider li p {
      font-size: 24px;
      font-style: italic;
      line-height: 1.7;
      margin-bottom: 30px; }
    .bxslider li .name {
      font-size: 18px;
      font-weight: bold;
      color: black;
      margin-bottom: 30px; }

.thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .thumb a {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    overflow: hidden; }
    .thumb a::before {
      content: '';
      position: absolute;
      background-color: rgba(46, 204, 113, 0.7);
      width: 100%;
      height: 100%;
      top: -52px;
      left: 0;
      -webkit-transition: all .5s;
      transition: all .5s; }
    .thumb a:hover::before, .thumb a.active::before {
      top: 0; }

.social-block {
  padding-top: 60px; }

.social-block_title {
  font-size: 24px;
  font-family: raleway;
  font-weight: 700;
  margin-bottom: 20px; }

.social-block_description {
  font-size: 16px;
  color: #848484; }

.social {
  padding-top: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .social .icon_container {
    width: 34px;
    height: 34px;
    background-color: #d4d4d4;
    margin-right: 10px;
    -webkit-transition: background-color .5s;
    transition: background-color .5s; }
    .social .icon_container:last-child {
      margin-right: 0; }
    .social .icon_container:hover {
      background-color: #2ecc71; }
    .social .icon_container a {
      color: #fff; }
    .social .icon_container .fa {
      font-size: 18px;
      margin-top: 7px; }

.footer {
  width: 100%;
  height: 130px;
  background-color: #e3e3e3; }

.footer-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer-list li {
    margin-top: 60px;
    margin-right: 35px;
    font-size: 16px; }
    .footer-list li a {
      color: #848484; }
    .footer-list li:last-child {
      margin-right: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-weight: 300;
  vertical-align: baseline;
  font-family: opensans; }

a {
  color: black;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin-left: 13.1%;
  margin-right: 13.1%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
