.footer-navigation
    .footer-navigation__wrapper.wrapper
        ul.footer-navigation__list
            li.footer-navigation__item
                a(href="#").footer-navigation__link INFORMATION
                ul.footer-navigation__item__list
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link The brand
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Local stores
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Customer service
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Privacy & cookies
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Site map


            li.footer-navigation__item
                a(href="#").footer-navigation__link MY PROFILE
                ul.footer-navigation__item__list
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Getting started
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link FAQs
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Buying Guide
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Order Returns
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Affiliate Program


            li.footer-navigation__item
                a(href="#").footer-navigation__link YOUR ACCOUNT
                ul.footer-navigation__item__list
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Shipping & returns
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Secure shopping
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Testimonials
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Award winning
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Ethical trading


            li.footer-navigation__item
                a(href="#").footer-navigation__link LOOKBOOK
                ul.footer-navigation__item__list
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Getting started
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link FAQs
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Buying Guide
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Order Returns
                    li.footer-navigation__item__item
                        a(href="").footer-navigation__item__link Affiliate Program

            li.footer-navigation__item
                a(href="#").footer-navigation__link CONTACT DETAILS
                .footer-navigation__item__contact.contact
                    .contact__phone 
                        span Telephone: 
                        span.number 0123-456-789
                    .contact__email
                        span Email: 
                        span.email free@psdfreebies.com
                    .contact__adress
                        span Head Office: 
                        span.adress 245 Yellow House,<br>Main Street, London. 456789
