footer.footer
    span.footer__license © 2015 Aware UI Kit.
    .footer__terms-block
        a(href="#").privacy Privacy & Cookies             
        a(href="#").terms Terms & Conditions
        a(href="#").accessibility Accessibility 
    .footer__pay-block
        img(src="img/payment/visa.png", alt="visa")
        img(src="img/payment/mastercard.png", alt="mastercard")
        img(src="img/payment/paypal.png", alt="paypal")

