.aside
    ul.aside__list
        li.aside__item
            a(href='').aside__link
                .fab.fa-facebook-f
        li.aside__item
            a(href='').aside__link
                .fab.fa-twitter
        li.aside__item
            a(href='').aside__link
                .fab.fa-google-plus-g
        li.aside__item
            a(href='').aside__link
                .fab.fa-instagram
    span.aside__text Follow us