.content
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .product-box
        .product
            h6.product__title
                a(href="#").product__link Lacoste Men's Pocket<br>Polo Shirt - Sahara
            .product__img
                img(src="img/products/1.png", alt="t-shirt")

            .product__card
                select.styler
                    option(value="") Size
                    option(value="") S
                    option(value="") L
                    option(value="") M
                a(href="#").button.button--card Add to cart
                a(href="#").favorite
                    span.icon-heart-user
                    span Add to wishlist
            
            .product__price
                img(src="img/products/sale.png", alt="sale").sale
                span.price $75
                span.price--old $60
    
    .pagination
        span.pagination__item 2 page of 23
        span.pagination__item Load more
        span.pagination__item 28 items