.dropdown
    ul.dropdown__list
        li.dropdown__item
            a(href="").dropdown__link Home
        li.dropdown__item
            a(href="").dropdown__link Shop
        li.dropdown__item
            a(href="").dropdown__link Women
        li.dropdown__item
            a(href="").dropdown__link Men
        li.dropdown__item
            a(href="").dropdown__link Find Stores
