.functional
    .burger-icon
        img(src="img/icons/burger.svg")
    a(href="").cart-icon
        img(src="img/icons/cart.svg")
    a(href="").search-icon
        img(src="img/icons/search.svg")

    
    include __dropdown