.offer-blocks

    .offer-blocks__left-section
        .offer-blocks__element
            img(src="img/offer-blocks/1.png", alt="cross")
            .offer-blocks__info
                span.offer-blocks__deals Buy 2 get<br>up 50% off
        .offer-blocks__element
            img(src="img/offer-blocks/2.png", alt="cross")

    .offer-blocks__center-section
        .offer-blocks__element
            img(src="img/offer-blocks/3.png", alt="cross")
            .offer-blocks__info
                span.offer-blocks__category Winter Jacket
                span.offer-blocks__name VINTAGE LOOK<br>FOR WOMEN
                .offer-blocks__button.button Shop now
            span.offer-blocks__new New

    .offer-blocks__right-section
        .offer-blocks__element
            img(src="img/offer-blocks/4.png", alt="cross")
            .offer-blocks__info
                span.offer-blocks__category Winter Jacket
                span.offer-blocks__name FASHION <br>FOR MEN
                .offer-blocks__button.button Shop now
        .offer-blocks__element.offer-blocks__element--glasses
            img(src="img/offer-blocks/5.png", alt="cross")
            .offer-blocks__info
                span.offer-blocks__deals 40% off on sunglasses
            span.offer-blocks__new New

       
