.banner.banner--offer-banner
    .banner__info
        h4.banner__title WE OFFER BRAND NEW STYLE
        span.banner__description SIGN UP NOW AND GET 50% OFF
        a(href="").banner__button.button.button--offer-banner SEE FULL COLLECTION