.banner.banner--subscribe-banner
    .banner__info
        h4.banner__title subscribe to our newsletter
        span.banner__description SIGN UP NOW AND GET 75% OFF
        a(href="").banner__button.button.button--subscribe-banner Sing up now