.content.wrapper
    .content__category
        include ../category/category
    .content__offer-blocks
        include ../offer-blocks/offer-blocks
    .content__offer-banner
        include ../banner/offer-banner
    .content__product-type
        include ../product-type/product-type
    .content__featured-products
        include ../featured-products/featured-products
    .content__subscribe-banner
        include ../banner/subscribe-banner
    .content__blog-news
        include ../blog-news/blog-news

