@font-face {
  font-family: "opensans";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/OpenSansRegular/OpenSans-Regular.eot");
  src: url("../../fonts/OpenSansRegular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSansRegular/OpenSans-Regular.woff") format("woff"), url("../../fonts/OpenSansRegular/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "opensans";
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/OpenSansBold/OpenSans-bold.eot");
  src: url("../../fonts/OpenSansBold/OpenSans-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSansBold/OpenSans-bold.woff") format("woff"), url("../../fonts/OpenSansBold/OpenSans-bold.ttf") format("truetype"); }

@font-face {
  font-family: "opensans";
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/OpenSansLight/OpenSans-Light.eot");
  src: url("../../fonts/OpenSansLight/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSansLight/OpenSans-Light.woff") format("woff"), url("../../fonts/OpenSansLight/OpenSans-Light.ttf") format("truetype"); }

@font-face {
  font-family: "opensans";
  font-weight: 300;
  font-style: italic;
  src: url("../../fonts/OpenSansItalic/OpenSans-Italic.eot");
  src: url("../../fonts/OpenSansItalic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../../fonts/OpenSansItalic/OpenSans-Italic.woff") format("woff"), url("../../fonts/OpenSansItalic/OpenSans-Italic.ttf") format("truetype"); }

.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  -webkit-transform: translatez(0); }

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
  position: absolute;
  bottom: -30px;
  width: 100%; }

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: 700;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #000; }

.bx-wrapper .bx-controls-auto .bx-controls-auto-item, .bx-wrapper .bx-pager-item {
  display: inline-block;
  vertical-align: bottom; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) 0 -32px no-repeat; }

.bx-wrapper .bx-prev:focus, .bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) -43px -32px no-repeat; }

.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus, .bx-wrapper .bx-controls-auto .bx-start:hover {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus, .bx-wrapper .bx-controls-auto .bx-stop:hover {
  background-position: -86px -33px; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.header_top {
  width: 100%;
  border-bottom: 1px solid #cccccc; }

.header_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header_top_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.usa_flag {
  margin-top: 14px;
  margin-right: 10px;
  width: 30px;
  height: 20px;
  cursor: pointer; }

.flag_usa {
  font-size: 12px;
  margin-top: 20px;
  margin-right: 10px;
  font-weight: bold;
  letter-spacing: 1.5px; }

.v_icon {
  height: 8px;
  width: 13px;
  margin-top: 22px;
  margin-right: 20px;
  cursor: pointer; }

.header_top_left_welcome {
  margin-top: 20px;
  font-style: italic;
  white-space: nowrap; }
  .header_top_left_welcome strong {
    font-style: normal;
    font-weight: bold; }
  .header_top_left_welcome .header_top_left_welcome_singin {
    margin-left: 10px;
    font-weight: bold; }
  .header_top_left_welcome::before {
    content: ' ';
    border-left: 2px solid black;
    margin-right: 19px; }

.header_top_center {
  width: 570px; }

.header_top_right {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px; }

.header_top_right_block_first, .header_top_right_block_second {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .header_top_right_block_first::after, .header_top_right_block_second::after {
    content: '';
    border-right: 1px solid #cccccc; }

.header_top_right_block_search {
  margin-right: 20px;
  margin-top: 15px; }

.header_top_right_block_like {
  margin-top: 15px;
  margin-right: 45px; }
  .header_top_right_block_like::after {
    content: '(4)';
    position: absolute;
    top: 18px;
    margin-left: 10px;
    font-weight: bold; }

.header_top_right_block_backet {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 30px; }
  .header_top_right_block_backet::after {
    content: '(1)';
    position: absolute;
    top: 18px;
    margin-left: 10px;
    font-weight: bold; }

.header_top_right_block_price-count {
  margin-top: 18px;
  margin-right: 23px; }
  .header_top_right_block_price-count::before {
    content: '';
    border-left: 1px solid black;
    margin-left: 10px;
    margin-right: 10px; }

.header_bottom_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase; }
  .header_bottom_block .left-align {
    text-align: right; }

.header_bottom_block_left, .header_bottom_block_right {
  font-size: 12px;
  color: #787878;
  letter-spacing: 2px;
  padding-top: 35px; }
  .header_bottom_block_left_shares, .header_bottom_block_right_shares {
    margin-bottom: 22px; }
    .header_bottom_block_left_shares:last-child, .header_bottom_block_right_shares:last-child {
      margin-bottom: 0; }

.header_bottom_block_center {
  font-size: 32px;
  padding-left: 168px;
  padding-top: 48px;
  padding-right: 150px; }
  .header_bottom_block_center_title {
    font-weight: 100;
    letter-spacing: 19px; }

.header_bottom_menu {
  padding-top: 67px;
  padding-bottom: 31px;
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .header_bottom_menu li {
    letter-spacing: 2px; }
    .header_bottom_menu li:last-child {
      margin-right: 0; }
    .header_bottom_menu li a {
      font-weight: bold; }
    .header_bottom_menu li .Sale {
      color: #9a2722; }

.section_banner {
  width: 100%;
  height: 650px;
  background-image: url("../../img/Banner-background-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-top: 1px solid #dadcdf;
  border-bottom: 1px solid #dadcdf; }

.section_banner_text {
  font-size: 14px;
  letter-spacing: 1px;
  position: relative;
  padding-top: 310px;
  overflow: hidden; }
  .section_banner_text::before, .section_banner_text::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 23px;
    color: #fff;
    border: 1px solid #fff;
    margin-bottom: 2px; }
  .section_banner_text::before {
    margin-right: 12px; }
  .section_banner_text::after {
    margin-left: 12px; }

.section_banner_title {
  margin-top: 47px;
  font-size: 60px;
  font-weight: 100; }

.button {
  display: inline-block;
  border: 1px solid #fff;
  padding: 17px 39px;
  letter-spacing: 2px; }
  .button a {
    color: #fff;
    font-size: 16px; }
  .button.banner_button {
    margin-top: 60px; }
  .button.banner_2_button {
    border: 1px solid black;
    margin-bottom: 70px; }
    .button.banner_2_button a {
      color: black;
      text-transform: uppercase;
      font-weight: bold; }

.section_banner_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px; }

.section_banner_2_left {
  width: 100%;
  height: 421px;
  background-image: url("../../img/banner_2_left_bg.png");
  text-align: center; }

.section_banner_2_left_title {
  margin-top: 70px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 30px; }

.section_banner_2_left_description {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 30px;
  letter-spacing: 3px;
  line-height: 2; }

.section_banner_2_left_price {
  font-size: 60px;
  margin-bottom: 34px; }

.section_banner_2_right img {
  width: 679px;
  height: 421px; }

.section_content_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 120px; }

.section_content_block_left {
  width: 303px; }

.section_content_block_left_social,
.section_content_block_left_social2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px; }

.section_content_block_left_social {
  margin-top: 15px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.section_content_block_left_social2 {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.section_content_block_left_social_item,
.section_content_block_left_social_item2 {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  text-align: center;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .section_content_block_left_social_item .fa,
  .section_content_block_left_social_item2 .fa {
    margin-top: 15px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .section_content_block_left_social_item:hover,
  .section_content_block_left_social_item2:hover {
    background-color: #caecea; }

.section_content_block_left_social_item2 {
  margin-left: 50px;
  margin-right: 50px; }
  .section_content_block_left_social_item2:first-child {
    margin-right: 0; }
  .section_content_block_left_social_item2:last-child {
    margin-left: 0; }

.section_content {
  margin-bottom: 80px; }

.section_content_block_left_trend-guides {
  margin-top: 105px;
  position: relative; }
  .section_content_block_left_trend-guides::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(208, 208, 208, 0.7); }
  .section_content_block_left_trend-guides img {
    width: 303px; }
  .section_content_block_left_trend-guides p {
    position: absolute;
    bottom: 25px;
    left: 70px;
    z-index: 5;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px; }

.blackcube {
  position: absolute;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: black;
  z-index: 10; }
  .blackcube.guides {
    bottom: 58px;
    left: 140px; }
  .blackcube.swimmer {
    top: 58px;
    left: 190px; }
  .blackcube.sale {
    bottom: 58px;
    left: 215px; }

.section_content_block_right_block {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.section_content_block_right_shop-swimmer {
  margin-left: 20px;
  position: relative; }
  .section_content_block_right_shop-swimmer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(208, 208, 208, 0.7); }
  .section_content_block_right_shop-swimmer p {
    position: absolute;
    top: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px; }

.section_content_block_right_sale-man {
  margin-left: 20px;
  position: relative; }
  .section_content_block_right_sale-man::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(208, 208, 208, 0.7); }
  .section_content_block_right_sale-man p {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    white-space: nowrap; }
    .section_content_block_right_sale-man p span {
      color: red;
      font-weight: bold; }

.section_content_block_right_boho-luxe {
  margin-left: 20px;
  margin-top: 20px;
  position: relative; }

.section_content_block_right_boho-luxe_description {
  position: absolute;
  top: 0;
  left: 40%;
  color: #fff;
  text-transform: uppercase;
  text-align: center; }
  .section_content_block_right_boho-luxe_description .description {
    margin-top: 123px;
    font-size: 14px;
    letter-spacing: 2px; }
    .section_content_block_right_boho-luxe_description .description::before, .section_content_block_right_boho-luxe_description .description::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      width: 23px;
      color: #fff;
      border: 1px solid #fff;
      margin-bottom: 2px; }
    .section_content_block_right_boho-luxe_description .description::before {
      margin-right: 12px; }
    .section_content_block_right_boho-luxe_description .description::after {
      margin-left: 12px; }
  .section_content_block_right_boho-luxe_description .title {
    font-size: 45px;
    color: #fff;
    white-space: nowrap;
    letter-spacing: -3px;
    margin-top: 40px;
    margin-bottom: 45px; }

.slider_section_title {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 11px;
  text-align: center;
  margin-bottom: 42px; }

.slider-block {
  width: 100%;
  height: 339px;
  background-color: #f7f7f7;
  position: relative; }

.bx-wrapper {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0; }

.bxslider li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f7f7f7; }

.jacket-block,
.backet-block,
.jeans-block,
.shoes-block,
.suit-block {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  .jacket-block .jacket-block_description,
  .backet-block .jacket-block_description,
  .jeans-block .jacket-block_description,
  .shoes-block .jacket-block_description,
  .suit-block .jacket-block_description {
    position: absolute;
    top: -350px;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .jacket-block .jacket-block_description .description,
    .backet-block .jacket-block_description .description,
    .jeans-block .jacket-block_description .description,
    .shoes-block .jacket-block_description .description,
    .suit-block .jacket-block_description .description {
      font-size: 16px;
      font-style: italic;
      line-height: 1.5;
      margin-top: 46px; }
    .jacket-block .jacket-block_description .price,
    .backet-block .jacket-block_description .price,
    .jeans-block .jacket-block_description .price,
    .shoes-block .jacket-block_description .price,
    .suit-block .jacket-block_description .price {
      font-size: 40px;
      margin-top: 37px;
      margin-bottom: 95px; }
    .jacket-block .jacket-block_description .button,
    .backet-block .jacket-block_description .button,
    .jeans-block .jacket-block_description .button,
    .shoes-block .jacket-block_description .button,
    .suit-block .jacket-block_description .button {
      border-color: black;
      text-transform: uppercase;
      letter-spacing: 3px; }
      .jacket-block .jacket-block_description .button a,
      .backet-block .jacket-block_description .button a,
      .jeans-block .jacket-block_description .button a,
      .shoes-block .jacket-block_description .button a,
      .suit-block .jacket-block_description .button a {
        color: black; }
  .jacket-block:hover .jacket-block_description,
  .backet-block:hover .jacket-block_description,
  .jeans-block:hover .jacket-block_description,
  .shoes-block:hover .jacket-block_description,
  .suit-block:hover .jacket-block_description {
    top: 0; }

.bx-prev,
.bx-next {
  position: absolute;
  width: 20px;
  height: 38px;
  z-index: 999; }

.bx-prev {
  background-image: url("../../img/left-arrow.png");
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.bx-next {
  background-image: url("../../img/right-arrow.png");
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.location_section {
  height: 339px;
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .location_section img {
    padding-left: 295px; }
  .location_section .location_section_block {
    padding-left: 400px;
    text-align: center; }
    .location_section .location_section_block .location_section_block_title {
      font-size: 30px;
      letter-spacing: 2px;
      color: #999999;
      text-transform: uppercase;
      margin-bottom: 50px; }
    .location_section .location_section_block .location_section_block_description {
      font-size: 14px;
      font-style: italic;
      letter-spacing: 2px;
      color: #999999;
      margin-bottom: 57px; }
    .location_section .location_section_block .button {
      border-color: #999999;
      padding-top: 12px;
      padding-bottom: 12px; }
      .location_section .location_section_block .button a {
        color: #999999; }

.footer {
  margin-top: 80px;
  margin-bottom: 80px;
  border-top: 1px solid #cccccc; }

.footer-top {
  margin-bottom: 40px; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 37px; }
  .form form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .form .sign-up {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-right: 33px; }
  .form input {
    height: 50px;
    width: 405px;
    outline: none;
    font-style: italic;
    color: #999999;
    font-size: 16px;
    padding-left: 20px;
    letter-spacing: 2px;
    border: 1px solid #cccccc;
    margin-right: 10px; }
  .form .button {
    background-color: black;
    color: #fff;
    font-family: opensans;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: 55px;
    padding: 16px 60px 16px 60px; }
    .form .button .fa {
      font-size: 18px;
      margin-right: 10px; }
    .form .button p {
      display: inline-block; }
  .form .block {
    font-style: italic;
    letter-spacing: 2px;
    text-align: center; }
    .form .block .bottom {
      font-size: 12px;
      color: #999999; }
    .form .block .top {
      font-size: 14px;
      font-weight: bold; }

.footer-bottom {
  width: 100%;
  height: 48px;
  background-color: black;
  position: relative; }

.footer-bottom_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 2px; }
  .footer-bottom_list li {
    text-transform: uppercase;
    margin-right: 46px; }
    .footer-bottom_list li:last-child {
      margin-right: 0; }
    .footer-bottom_list li a {
      color: #fff; }
  .footer-bottom_list .allright {
    color: #fff;
    font-size: 11px;
    margin-left: 44px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: opensans;
  font-weight: 300;
  vertical-align: baseline; }

a {
  color: black;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  margin-left: 12.5%;
  margin-right: 14.2%; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
