header.header.header--indentation
    .header__nav-adaptive
        include ../nav-adaptive/nav-adaptive
    .header__logo
        include ../logo/logo
        
    .header__nav
        include ../navigation/navigation

    .header__search
        include ../search/search



    .header__location
        span.icon-location.header__location__icon-location
        a(href="").location__link Uzbekistan / $



    .header__profile-menu
        include ../profile-menu/profile-menu
        