ul.category
    li.category__item
        a(href="").category__link All
    li.category__item
        a(href="").category__link spring-summer
    li.category__item
        a(href="").category__link sweatshirt
    li.category__item
        a(href="").category__link sneakers
    li.category__item
        a(href="").category__link gadget
    li.category__item
        a(href="").category__link outdoor
