.blog-news
    .blog-news__title.title Our blog & news
    .blog-news__block
    
        .blog-news__item
            a(href="#").blog-news__image
                img(src="img/blog-news/1.png", alt="news")
            .blog-news__item__info
                .blog-news__item__title the 15 secrets about fashion people
                .blog-news__item__date January 12, 2020 by admin

        .blog-news__item
            a(href="#").blog-news__image
                img(src="img/blog-news/2.png", alt="news")
            .blog-news__item__info
                .blog-news__item__title the 15 secrets about fashion people
                .blog-news__item__date January 12, 2020 by admin


