.special-offer
    .special-offer__image
        img(src='img/special-offer/girl-bg.png')
    .special-offer__info
        h4.special-offer__headline Special offer<br>of the month
        span.special-offer__description Black long sleeve
        span.special-offer__old-price $105
        span.special-offer__new-price $65
        a(href="").special-offer__button.button.button--customize Shop now
        .special-offer__timer.timer
            .timer__block
                span.timer__number 09
                span.timer__dots ....
                span.timer__text Hours
            .timer__block
                span.timer__number 56
                span.timer__dots ....
                span.timer__text Minutes
            .timer__block
                span.timer__number 11
                span.timer__dots ....
                span.timer__text Seconds