@font-face {
  font-family: "roboto";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/RobotoRegular/Roboto-Regular.eot");
  src: url("../../fonts/RobotoRegular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/RobotoRegular/Roboto-Regular.woff") format("woff"), url("../../fonts/RobotoRegular/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "roboto";
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/RobotoLight/Roboto-Light.eot");
  src: url("../../fonts/RobotoLight/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/RobotoLight/Roboto-Light.woff") format("woff"), url("../../fonts/RobotoLight/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "roboto";
  font-weight: 800;
  font-style: normal;
  src: url("../../fonts/RobotoBold/Roboto-Bold.eot");
  src: url("../../fonts/RobotoBold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/RobotoBold/Roboto-Bold.woff") format("woff"), url("../../fonts/RobotoBold/Roboto-Bold.ttf") format("truetype"); }

.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  -webkit-transform: translatez(0); }

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
  position: absolute;
  bottom: -30px;
  width: 100%; }

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: 700;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #000; }

.bx-wrapper .bx-controls-auto .bx-controls-auto-item, .bx-wrapper .bx-pager-item {
  display: inline-block;
  vertical-align: bottom; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(images/controls.png) 0 -32px no-repeat; }

.bx-wrapper .bx-prev:focus, .bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url(images/controls.png) -43px -32px no-repeat; }

.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start.active, .bx-wrapper .bx-controls-auto .bx-start:focus, .bx-wrapper .bx-controls-auto .bx-start:hover {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(images/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop.active, .bx-wrapper .bx-controls-auto .bx-stop:focus, .bx-wrapper .bx-controls-auto .bx-stop:hover {
  background-position: -86px -33px; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.bxslider .bx-wrapper,
.product-item_second .bx-wrapper,
.product-gallery .bx-wrapper {
  margin-bottom: 0; }
  .bxslider .bx-wrapper .bx-viewport,
  .product-item_second .bx-wrapper .bx-viewport,
  .product-gallery .bx-wrapper .bx-viewport {
    left: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
    border: none; }

.bx-wrapper {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin: 0; }

.product-gallery .bx-wrapper {
  margin-bottom: 40px; }

header {
  background-color: #fff; }

.header__top {
  width: 100%;
  padding: 25px 0;
  border-bottom: 1px solid #edeff1; }

.header_line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header__social li {
  display: inline-block;
  margin-right: 20px; }
  .header__social li:last-child {
    margin-right: 0; }

.header__social___link____facebook::before {
  content: '\f09a';
  font-family: FontAwesome;
  font-size: 12px; }

.header__social___link____twitter::before {
  content: '\f099';
  font-family: FontAwesome;
  font-size: 12px; }

.header__social___link____google::before {
  content: '\f2b3';
  font-family: FontAwesome;
  font-size: 12px; }

.header__social___link____instagram::before {
  content: '\f16d';
  font-family: FontAwesome;
  font-size: 12px; }

.header__mail::before, .header__phone::before {
  content: '\f003';
  font-family: FontAwesome;
  font-size: 22px;
  display: inline-block;
  margin-right: 10px;
  color: #ff5912; }

.header__phone {
  margin-left: 20px;
  white-space: nowrap; }
  .header__phone::before {
    content: '\f095'; }

.header__bottom {
  width: 100%;
  border-bottom: 1px solid #edeff1; }

.header__bottom___container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logo {
  margin: 41px 0; }

.header__nav {
  margin-left: -300px; }

.header__nav___list {
  white-space: nowrap; }
  .header__nav___list li {
    display: inline-block;
    margin-right: 30px; }
    .header__nav___list li:last-child {
      margin-right: 0; }
  .header__nav___list a {
    width: 100%;
    height: 100%;
    display: block; }
    .header__nav___list a.active, .header__nav___list a:hover {
      color: #ff5912; }

.header__items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.header__items___search {
  width: 18px;
  height: 18px;
  background-image: url("../../img/header/search_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 34px; }
  .header__items___search.active, .header__items___search:hover {
    background-image: url("../../img/header/search_icon_active.png"); }

.header__items___user {
  width: 20px;
  height: 21px;
  background-image: url("../../img/header/user_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 29px;
  -webkit-transition: background .5s;
  transition: background .5s; }
  .header__items___user.active, .header__items___user:hover {
    background-image: url("../../img/header/user_icon_active.png"); }

.header__items___cart {
  position: relative;
  width: 24px;
  height: 17px;
  background-image: url("../../img/header/cart_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: background .5s;
  transition: background .5s; }
  .header__items___cart.active, .header__items___cart:hover {
    background-image: url("../../img/header/cart_icon_active.png"); }

.header__items___cart____number {
  position: absolute;
  width: 19px;
  height: 19px;
  text-align: center;
  padding-top: 4px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  background-color: #34404b;
  top: -22px;
  left: 2px;
  font-size: 12px; }

.bxslider img {
  max-height: 650px;
  width: 100%; }

.bxslider__pager {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10; }
  .bxslider__pager a {
    display: block;
    width: 10px;
    height: 15px;
    background-color: #fff;
    margin-bottom: 10px; }
    .bxslider__pager a:last-child {
      margin-bottom: 0; }
    .bxslider__pager a.active {
      height: 36px;
      background-color: #ff5912; }

.bxslider__content {
  position: absolute;
  z-index: 10px;
  top: 30%;
  left: 25%; }

.bxslider__title {
  display: block;
  font-size: 52px;
  margin-bottom: 30px;
  color: #ff5912;
  text-transform: uppercase; }

.bxslider__undertitle {
  display: block;
  font-size: 18px;
  margin-bottom: 18px; }

.bxslider__description {
  font-size: 16px;
  margin-bottom: 50px; }

.bxslider__price {
  display: inline-block;
  margin-right: 30px; }

.bxslider__buy {
  color: #ff5912;
  cursor: pointer; }
  .bxslider__buy::before {
    content: url("../../img/header/cart_icon_active.png");
    display: inline-block;
    margin-right: 10px; }

.section-title {
  margin-bottom: 70px;
  text-align: center; }

.section-title__title {
  margin-bottom: 30px; }
  .section-title__title span {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold; }
  .section-title__title .section-title_orange {
    color: #ff5912; }

.section-title_description {
  display: block;
  color: #34404b; }

.product-item {
  background-color: #fff;
  width: 270px;
  height: 370px;
  padding: 30px 20px;
  margin-bottom: 30px; }
  .product-item:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
    .product-item:hover .product-item_first {
      display: none; }
    .product-item:hover .product-item_second {
      opacity: 1; }

.product-item_picture {
  display: block;
  margin: 0 auto 15px;
  height: 205px; }

.product-item_title {
  font-weight: 800;
  font-size: 18px;
  display: block;
  margin-bottom: 30px;
  text-align: center; }

.product-item_price {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #ff5912;
  font-weight: 800; }

.product-item_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .product-item_block .product-item {
    position: relative; }

.product-item_second {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 35px; }
  .product-item_second .product-item_title {
    color: #ff5912; }

.product-item_slider img {
  display: block;
  margin: 0 auto 20px auto;
  height: 90px; }

.product-item_sizes {
  text-align: center;
  margin-bottom: 30px; }
  .product-item_sizes > span {
    margin-right: 10px; }

.sizes-list {
  display: inline-block; }
  .sizes-list li {
    display: inline-block; }
    .sizes-list li::after {
      content: ' - '; }
    .sizes-list li:last-child::after {
      display: none; }
    .sizes-list li.active span {
      color: #ff5912; }
    .sizes-list li span {
      cursor: pointer; }
      .sizes-list li span:hover {
        color: #ff5912; }

.product-item_colors {
  text-align: center;
  margin-bottom: 30px; }
  .product-item_colors a {
    display: inline-block;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 2px; }

.product-color_red {
  background-color: #e12e3f; }

.product-color_blue {
  background-color: #34404b; }

.product-color_indigo {
  background-color: #3ab3ff; }

.product-color_green {
  background-color: #2fd967; }

.product-item_buttons {
  text-align: center;
  border-top: 1px solid #f2f4f7;
  padding-top: 30px;
  width: 170px;
  margin: 0 auto; }
  .product-item_buttons a {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 15px; }

.product-item__load-more {
  width: 100%;
  height: 60px;
  background-color: #fff;
  text-align: center; }
  .product-item__load-more a {
    color: #ff5912;
    font-size: 60px;
    line-height: .5; }

.banners .container {
  overflow: hidden; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.banner-big {
  width: 100%;
  height: 100px;
  padding: 10px 0 0 60px;
  max-width: 670px;
  border: 1px solid #eaedef;
  background-color: #fff; }

.banner-big_img {
  margin-right: 60px; }

.banner-big_text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 78px; }

.banner-big_title {
  font-weight: 800;
  font-size: 22px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 15px; }

.banner-big_description {
  font-size: 12px; }

.banner-big_price {
  display: inline-block;
  vertical-align: middle;
  color: #ff5912;
  font-size: 32px;
  font-weight: 800; }
  .banner-big_price::before {
    content: url(../../img/new-arrivals/card-icon.png);
    display: inline-block;
    margin-right: 20px; }

.banner-small {
  width: 100%;
  height: 100px;
  max-width: 470px;
  border: 1px solid #eaedef;
  background-color: #fff;
  padding-top: 30px; }

.banner-small__wrap {
  text-align: center;
  white-space: nowrap; }

.banner-small_text {
  font-size: 16px; }
  .banner-small_text-orange {
    color: #ff5912; }

.banner-small_size {
  display: block;
  font-size: 12px;
  color: #aeb3b7;
  margin-top: 15px;
  letter-spacing: 8px; }

.best-sales_item {
  position: relative;
  width: 100%;
  max-width: 370px;
  padding: 40px 30px 40px 160px;
  background-color: #fff;
  margin-right: 30px; }
  .best-sales_item:last-child {
    margin-right: 0; }
  .best-sales_item:hover .best-sales_raiting, .best-sales_item.active .best-sales_raiting {
    display: none; }
  .best-sales_item:hover .best-sales_buy, .best-sales_item.active .best-sales_buy {
    display: block; }

.best-sales_img {
  position: absolute;
  top: 30px;
  left: 20px; }

.best-sales_title {
  display: block;
  font-size: 18px;
  font-weight: 800; }

.best-sales_text {
  text-align: center;
  position: relative; }
  .best-sales_text::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -30px;
    border-left: 1px solid #f5f5f6;
    height: 55px; }

.best-sales_raiting {
  overflow: hidden;
  margin-top: 30px; }

.best-sales_raiting_stars {
  float: left; }
  .best-sales_raiting_stars .fa {
    margin-right: 3px;
    color: #ff5912;
    font-size: 14px; }
    .best-sales_raiting_stars .fa:last-child {
      margin-right: 0;
      color: #e8ecf3; }

.best-sales_price {
  float: right;
  font-size: 16px;
  font-weight: 800;
  color: #ff5912; }

.best-sales_buy {
  display: none;
  margin-top: 22px;
  font-size: 16px;
  color: #ff5912;
  font-weight: 800; }
  .best-sales_buy::before {
    content: url(../../img/new-arrivals/card-icon.png);
    margin-right: 10px; }

.subscribe_block {
  background-color: #fff;
  padding: 35px 40px;
  overflow: hidden; }

.subscribe_title {
  display: inline-block;
  color: #ff5912;
  font-size: 18px;
  font-weight: 800;
  margin-right: 30px;
  text-transform: uppercase;
  padding-top: 16px; }

.subscribe_description {
  display: inline-block;
  font-size: 14px;
  font-style: italic;
  font-weight: 800; }

.subscribe_form {
  float: right; }

.input-field__wrap {
  position: relative;
  padding-left: 35px;
  margin-right: 35px;
  display: inline-block; }
  .input-field__wrap::before {
    content: url(../../img/mail-icon.png);
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.input-field {
  background: none;
  border: none;
  color: #858f98;
  font-style: italic;
  font-size: 14px;
  width: 100%;
  max-width: 250px; }

.button {
  border: none;
  background-color: #ff5912;
  color: #fff;
  line-height: 50px;
  padding: 0 30px;
  cursor: pointer;
  width: 100px; }

.product-view {
  padding: 105px 0 125px 0;
  background-color: #FFF; }
  .product-view .container {
    overflow: hidden; }

.product-gallery {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  padding: 0 70px;
  text-align: center; }

.product-view_slider img {
  display: block;
  margin: 0 auto; }

.product-view_pager a {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 70px;
  position: relative;
  background-color: #f4f6f8;
  margin-right: 10px; }
  .product-view_pager a:last-child {
    margin-right: 0; }
  .product-view_pager a:hover, .product-view_pager a.active {
    cursor: pointer; }
    .product-view_pager a:hover::after, .product-view_pager a.active::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: #ff5912;
      opacity: .8; }
  .product-view_pager a img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.related-products {
  padding-top: 120px; }

.product-info {
  width: 100%;
  max-width: 615px;
  height: 100%;
  display: inline-block;
  vertical-align: top; }

.product-title {
  font-size: 52px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ff5912;
  margin-bottom: 30px; }

.product-description {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 40px;
  display: block; }

.product-text {
  display: block;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 40px; }

.product-setting {
  border-top: 1px solid #edeff1;
  border-bottom: 1px solid #edeff1;
  padding: 40px 0;
  overflow: hidden; }

.product_choose-size span,
.product_choose-quantity span {
  font-size: 18px;
  margin-right: 25px; }

.product_choose-size {
  float: left; }

.product_choose-quantity {
  float: right; }

.choose-size_list {
  display: inline-block; }
  .choose-size_list li {
    display: inline-block;
    font-size: 14px;
    font-weight: 800; }
    .choose-size_list li::after {
      content: '-';
      display: inline-block;
      margin: 0 8px; }
    .choose-size_list li:last-child::after {
      content: ''; }
    .choose-size_list li span {
      font-size: 14px;
      margin: 0;
      cursor: pointer; }
    .choose-size_list li.active span {
      font-size: 16px;
      color: #ff5912; }

.choose-quantity {
  display: inline-block; }

.quantity-plus,
.quantity-minus {
  cursor: pointer;
  font-weight: 800; }

.quantity-count {
  color: #ff5912; }

.product-action {
  overflow: hidden;
  float: left;
  padding-top: 40px; }

.product-price {
  font-weight: 800;
  font-size: 20px;
  padding-top: 20px;
  display: inline-block; }

.product-social-button {
  display: inline-block;
  padding-left: 200px; }

.social {
  text-align: center;
  padding-top: 20px;
  width: 170px;
  margin: 0 auto;
  display: inline-block; }
  .social li {
    display: inline-block; }
  .social a {
    display: inline-block;
    margin: 0 15px;
    vertical-align: bottom; }

.g-btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #ff5912;
  padding: 0 25px;
  line-height: 50px;
  -webkit-border-radius: 30px;
          border-radius: 30px; }

.all-products {
  padding-top: 120px; }
  .all-products .contrainer {
    overflow: hidden; }

.all-products_filter {
  width: 100%;
  max-width: 270px; }

.filter-item {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 30px; }

.filter-title {
  display: block;
  color: #ff5912;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 40px; }

.filter-line {
  margin-bottom: 22px; }
  .filter-line:last-child {
    margin-bottom: 0; }
  .filter-line label {
    font-size: 16px;
    font-weight: 800;
    cursor: pointer; }
    .filter-line label:hover {
      color: #ff5912; }
  .filter-line input[type=radio] {
    display: none; }
    .filter-line input[type=radio]:checked + label {
      color: #ff5912; }

.all-products_show {
  width: 100%;
  max-width: 870px; }
  .all-products_show .product-item {
    display: inline-block; }

.filter-line input {
  width: 100%; }

.filter-line-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .filter-line-price span {
    font-size: 14px;
    font-weight: 800;
    margin-right: 10px; }

.filter-price-from input {
  width: 45px;
  margin-right: 20px;
  background-color: #edf0f2;
  border: none;
  height: 25px; }

.filter-price-to input {
  background-color: #edf0f2;
  border: none;
  height: 25px;
  width: 45px; }

.filter-checkbox {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 22px;
  width: 100px;
  height: 30px; }

.checkbox {
  position: relative;
  display: block;
  padding-left: 30px; }
  .checkbox input {
    display: none; }
    .checkbox input:checked + .custom-checkbox {
      color: #ff5912; }
      .checkbox input:checked + .custom-checkbox::before {
        border: 4px solid #ff5912; }
  .checkbox .custom-checkbox {
    display: inline-block;
    position: absolute;
    left: 0; }
    .checkbox .custom-checkbox::before {
      content: '';
      display: inline-block;
      width: 15px;
      height: 15px;
      background-color: #edf0f2;
      margin-right: 20px; }

.footer {
  padding: 85px 0;
  background-color: #fff; }

.footer-logo-img {
  display: block;
  margin-bottom: 25px; }

.footer-copyright {
  display: block;
  font-size: 14px; }

.footer-nav {
  width: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-nav__list:last-child {
  margin-right: 0; }

.footer-nav__list li {
  margin-bottom: 20px;
  list-style-type: disc; }
  .footer-nav__list li:last-child {
    margin-bottom: 0; }
  .footer-nav__list li:hover a {
    color: #ff5912; }

.footer-pay span {
  display: block;
  color: #ff5912;
  font-weight: 800;
  margin-bottom: 20px; }

html {
  line-height: 1;
  font-size: 16px; }

body {
  font-family: roboto;
  color: #34404b;
  margin: 0;
  background-color: #f4f6f8; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin: 0; }

a {
  text-decoration: none;
  color: #34404b; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

textarea {
  resize: none; }

section {
  position: relative;
  padding-bottom: 120px; }

input,
select,
button {
  outline: none; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.hide {
  display: none; }

.show {
  display: block; }

.clearfix::before,
.clearfix::after {
  content: ' ';
  display: table; }

.clearfix::after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.container {
  width: 97%;
  max-width: 1170px;
  margin: 0 auto; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .header__nav {
    margin-left: -250px; }
  .flex-container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .banner-big {
    margin-bottom: 20px; }
  .best-sales_item {
    margin-bottom: 20px; }
  .footer .flex-container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header__nav {
    margin-left: 0; }
  .subscribe_block {
    text-align: center; }
  .subscribe_form {
    float: none;
    margin-top: 20px; }
  .footer-pay {
    padding-top: 50px; } }

@media only screen and (max-width: 810px) {
  .best-sales_item {
    margin-right: 0; }
  .footer-nav__list li {
    list-style-type: none; }
    .footer-nav__list li a {
      text-decoration: underline; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header__nav___list {
    white-space: normal; }
    .header__nav___list li {
      margin-top: 10px; }
  .header__nav {
    margin: 0 20px; }
  .bxslider__content {
    top: 15%;
    left: 10%; }
  .banner-big .banner-big_img {
    margin-right: 30px; }
  .banner-big .banner-big_text {
    margin-right: 20px; }
  .footer-nav {
    padding-top: 50px; } }

@media only screen and (max-width: 600px) {
  .bxslider__pager {
    top: 30%; }
  .bxslider__title {
    font-size: 32px;
    margin-bottom: 15px; }
  .bxslider__undertitle {
    font-size: 16px; }
  .bxslider__description {
    font-size: 12px;
    margin-bottom: 20px; }
  .product-item_block {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .banner-big {
    padding-left: 0; }
    .banner-big .banner-big_text h2 {
      font-size: 16px; }
    .banner-big .banner-big_price {
      font-size: 20px; }
      .banner-big .banner-big_price::before {
        margin-right: 10px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header__nav___list, .header__social {
    display: none; }
  .header_line {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .header__phone {
    float: right; }
  .bxslider__undertitle {
    font-size: 8px; }
  .bxslider__pager {
    display: none; }
  .bxslider__description {
    display: none; }
  .banner-big_title {
    margin: 8px 0 0 0; }
  .banner-big_description {
    display: none; }
  .banner-big_img {
    margin: 0 40px; }
  .subscribe_description {
    margin-top: 10px; }
  .subscribe_form .button {
    margin-top: 10px; } }

@media only screen and (max-width: 380px) {
  .banner-big_price {
    display: none; }
  .banner-big .banner-big_text {
    margin: 0; }
    .banner-big .banner-big_text h2 {
      font-size: 20px; }
  .banner-big .banner-big_img {
    margin-right: 10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
