div(style="background-image: url('img/header/header-inner.png')").main-category-line
    .main-category-line__description
        span.main-category-line__gender.main-category-line__gender--margin-bottom
            |Men
        h1.main-category-line__title Polo Shirts

    ul.bread-crumbs.main-category-line__bread-crumbs
        li.bread-crumbs__item
            a(href="").bread-crumbs__link Home 
            | /
        li.bread-crumbs__item
            a(href="").bread-crumbs__link Men 
            | /