/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

/***********************MEDIA QUERIES***********************/
/***********************COLORS & FONTS***********************/
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("../fonts/SourceSansPro-Regular.ttf");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "SourceSansPro-Bold";
  src: url("../fonts/SourceSansPro-Bold.ttf");
  font-style: normal;
  font-weight: 800; }

.wrapper {
  max-width: 1415px;
  min-width: 1100px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: SourceSansPro-Regular;
  margin: 0 auto;
  height: 100%; }

img {
  max-width: 100%;
  max-height: 100%; }

.menu {
  width: 17.0765625%;
  background: -webkit-radial-gradient(50% 0%, 1613.51px, #3C52C9 0%, #6B7DEA 100%);
  background: -o-radial-gradient(50% 0%, 1613.51px, #3C52C9 0%, #6B7DEA 100%);
  background: radial-gradient(1613.51px at 50% 0%, #3C52C9 0%, #6B7DEA 100%);
  -webkit-box-shadow: inset -3px 0px 6px rgba(0, 0, 0, 0.0953635);
          box-shadow: inset -3px 0px 6px rgba(0, 0, 0, 0.0953635); }
  .menu__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 13.6014274%;
    color: #ffffff;
    height: 58px; }
  .menu__logo {
    margin-right: 6.04355385%; }
  .menu__title {
    font-size: 1.35714286em;
    font-family: SourceSansPro-Bold;
    line-height: normal; }
  .menu__description {
    font-size: 0.57142857em;
    text-transform: lowercase;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    margin-top: 28.2px;
    margin-left: 4.84948303%; }
  .menu__navigation {
    padding: 10.9799616% 7.55787355% 0 12.5949309%; }

.main {
  width: 82.96875%;
  background-color: #F2F2F2; }
  .main__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    padding-left: 1.1299435%;
    padding-right: 1.1299435%;
    padding-top: 1.50659134%;
    padding-bottom: 1.41242938%;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0465919);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0465919);
    position: relative; }
  .main__title {
    margin-left: 37.6849308%;
    font-size: 1.14285714em;
    font-family: SourceSansPro-Bold;
    color: #6B7DEA;
    text-transform: uppercase; }
  .main__hero {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 3.48399247% 2.54237288% 1.41242938%; }
  .main__tools {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 2.47630915%;
    padding-top: 2.67441388%; }
  .main__search {
    width: 27.4376956%;
    max-height: 10.8629338%; }
  .main__text {
    width: 16.367178%;
    margin-left: 1.88409074%;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.365093);
    font-family: SourceSansPro-Bold; }
    .main__text strong {
      color: #3C52C9; }
  .main__hero-button {
    margin-left: 44.6729268%; }

.table {
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.0485734);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.0379869);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.0379869);
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 100%;
  table-layout: fixed;
  color: rgba(0, 0, 0, 0.5); }
  .table__thead {
    -webkit-box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.0872962);
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.0872962); }
  .table__tr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .table__tr--body:nth-child(2n) {
      background-color: rgba(0, 0, 255, 0.01); }
  .table__th {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .table__th:first-child {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 3.17211224%; }
    .table__th:nth-child(2) {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 9.9701343%; }
    .table__th:nth-child(3) {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 7.67990951%; }
    .table__th:nth-child(4) {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 8.36842999%; }
    .table__th:nth-child(5) {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 12.3397178%; }
    .table__th:nth-child(6) {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 7.67990951%; }
    .table__th:nth-child(7) {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 7.60055082%; }
  .table .status {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .table .status--connect {
      color: #86EE82; }
      .table .status--connect .table__light {
        background-color: #86EE82; }
    .table .status--disconnect {
      color: #FF5867; }
      .table .status--disconnect .table__light {
        background-color: #FF5867; }
    .table .status span {
      margin-right: 12.6821933%; }
  .table__light {
    min-width: 9.0587095%;
    padding: 4.52939578% 0;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .table .action__more, .table .action__edit {
    width: 36.7755222%;
    padding: 18.3877611% 0;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer; }
  .table .action__more {
    background-color: #ffffff;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../img/main/dots.svg");
    background-repeat: no-repeat;
    -webkit-background-size: contains contains;
            background-size: contains;
    background-position: center;
    margin-right: 26.8216361%; }
  .table .action__edit {
    background-color: #C2CEFF;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../img/main/edit.svg");
    background-repeat: no-repeat;
    -webkit-background-size: contains contains;
            background-size: contains;
    background-position: center; }

.pd {
  padding: 2.07837302% 6.25% 2.36111111% 4.90575393%; }

.logo {
  width: 12.0871077%;
  padding-top: 2.05874279%;
  padding-bottom: 2.05874279%;
  background: -webkit-radial-gradient(50% 0%, 38.22px, #6B6BEA 0%, #3C92C9 100%);
  background: -o-radial-gradient(50% 0%, 38.22px, #6B6BEA 0%, #3C92C9 100%);
  background: radial-gradient(38.22px at 50% 0%, #6B6BEA 0%, #3C92C9 100%);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.148805);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.148805);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.navigation__list {
  width: 100%; }
  .navigation__list--sub {
    width: 66.8940219%; }

.navigation__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.navigation__link {
  font-family: SourceSansPro-Bold;
  font-size: 1.07142857em;
  color: rgba(255, 255, 255, 0.695029);
  height: 100%;
  width: 100%;
  padding-left: 14.5550701%;
  padding-bottom: 5.74844792%;
  margin-bottom: 2.87422396%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .navigation__link--sub {
    margin-left: 20.8898598%; }
  .navigation__link:hover {
    background: #2438AB;
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.110479);
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.110479);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #ffffff; }

.navigation .active .navigation__link {
  color: #ffffff; }

.button {
  width: 6.39987953%;
  font-family: SourceSansPro-Bold;
  font-size: 1.11111111em;
  color: #3C52C9;
  line-height: 77%;
  padding: 0.54048964% 1.52542373% 0.77777778% 2.24105461%;
  border: 1px solid #3C52C9;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.110479);
          box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.110479);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  position: relative;
  width: 2.63653484%; }
  .button:before {
    content: url("../img/main/left-arrow.svg");
    position: absolute;
    left: 18.5294118%;
    top: 23.0%; }
  .button--add {
    cursor: pointer;
    font-family: SourceSansPro-Bold;
    font-size: 1.285714em;
    letter-spacing: 0.168px;
    text-transform: uppercase;
    width: 10.6977297%;
    text-align: center;
    padding: 1% 0 1% 0;
    background: #3D61FF;
    color: #ffffff; }
    .button--add:before {
      display: none; }

.search {
  max-width: 100%;
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.0485734);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.0379869);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.0379869);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  overflow: hidden;
  position: relative; }
  .search__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 6.49819495%;
    padding-right: 6.7833935%;
    padding-top: 4.33212996%;
    padding-bottom: 4.61732852%; }
  .search__input {
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    font-family: SourceSansPro-Bold;
    font-size: 0.92857143em; }
  .search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.137596); }
  .search input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.137596); }
  .search input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.137596); }
  .search input::placeholder {
    color: rgba(0, 0, 0, 0.137596); }
  .search__button {
    padding: 0;
    border: 0;
    height: 19.21px;
    min-width: 8.02560171%;
    background-color: #ffffff;
    cursor: pointer; }
