//- mixin navigation(link, text)
//-     li.navigation__item
//-         a(href=link).navigation__link= text

//- nav.navigation
//-     ul.navigation__list
//-     +navigation('', 'Home')
//-     +navigation('', 'Shop')
//-     +navigation('', 'Women')
//-     +navigation('', 'Men')
//-     +navigation('', 'Find stores')
       
nav.navigation
    ul.navigation__list
        li.navigation__item
            a(href="").navigation__link Home
        li.navigation__item
            a(href="").navigation__link Shop
        li.navigation__item
            a(href="").navigation__link Women
        li.navigation__item
            a(href="").navigation__link Men
        li.navigation__item
            a(href="").navigation__link Find stores