.product-type
    h2.product-type__title.title Product types
    span.product-type__description up to 30% discount
    .product-type__category
        .product-type__category-block
            img(src="img/product-type/men.png", alt="men")
            a(href="").product-type__button.button SHOP MEN
        .product-type__category-block
            img(src="img/product-type/women.png", alt="women")
            a(href="").product-type__button.button SHOP WOMEN
        .product-type__category-block
            img(src="img/product-type/kids.png", alt="kids")
            a(href="").product-type__button.button SHOP KIDS
