.search
    form(action="").search__form
        input(type="text" placeholder="Search").search__input
        input(type="submit" value="&#xe910;").search__button

    .search__adaptive
        button.icon-search
